[submodule "ouinet"]
	path = ouinet
	url = https://github.com/equalitie/ouinet
[submodule "gecko-dev"]
	path = gecko-dev
	url = https://github.com/equalitie/gecko-dev.git
[submodule "distribution"]
	path = distribution
	url = https://github.com/equalitie/ouifennec-distribution.git
